<p style="color: green"><%= notice %></p>

<%= render @weapon_type %>

<div>
  <%= link_to "Edit this weapon type", edit_weapon_type_path(@weapon_type) %> |
  <%= link_to "Back to weapon types", weapon_types_path %>

  <%= button_to "Destroy this weapon type", @weapon_type, method: :delete %>
</div>
