<div id="<%= dom_id weapon_stat %>">
  <p>
    <strong>Weapon Type:</strong>
    <%= weapon_stat.weapon_type&.name || 'None' %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= weapon_stat.name %>
  </p>

  <p>
    <strong>Sharpness:</strong>
    <%= weapon_stat.sharpness %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= weapon_stat.attack %>
  </p>

  <p>
    <strong>Affinity:</strong>
    <%= weapon_stat.affinity %>
  </p>

  <p>
    <strong>Element type:</strong>
    <%= weapon_stat.element_type %>
  </p>

  <p>
    <strong>Element value:</strong>
    <%= weapon_stat.element_value %>
  </p>

  <p>
    <strong>Slot1:</strong>
    <%= weapon_stat.slot1 %>
  </p>

  <p>
    <strong>Slot2:</strong>
    <%= weapon_stat.slot2 %>
  </p>

  <p>
    <strong>Slot3:</strong>
    <%= weapon_stat.slot3 %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= weapon_stat.skills %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= weapon_stat.rarity %>
  </p>

</div>
